<div class="kc-logo-header">
    <div class="kc-logo-header-left">
        <h1>Pocket</h1>
    </div>
    <div class="kc-logo-header-right">
        <ul>
            <li>トップ</li>
            <li>サービス</li>
            <li>お知らせ</li>
            <li>お問い合わせ</li>
        </ul>
    </div>
</div>