@import '../library/variables';


.c-contents {
  margin-left: 220px;
  background: $paleBlue;

  .c-contents-cols {
    display: table;
    padding: 0 15px 60px;
    width: 100%;
  }

  .c-contents-primary-col {
    display: table-cell;
    vertical-align: top;
  }

  .c-contents-secondary-col {
    display: table-cell;
    vertical-align: top;
    width: 350px;
  }
}
